.review-container{
display: flex;
    margin-bottom: 10px;
.review{
    border-radius: 5px;
    background-color: var(--color);
    padding: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    font-size: 12px;
    margin-bottom: 5px;
}
}
