.dashboard {
  width: 100%;
  height: auto;
  padding: 20px;
}

.list-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex: 5;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--light-color);
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 12px;

  img {
    width: 30px;
    height: 30px;
  }
  div {
    flex: 1;
  }
  h6 {
    text-transform: capitalize;
    font-size: 14px;
  }
}
