.drop-down{
    position: relative;
    .option{
    cursor: pointer;

        &:hover{
            background-color: darkgray;
        }
    }
    
    .list{
        position: absolute;
        width: 100px;
        height: auto;
        background-color: grey;
        border-radius: 5px;
        margin-top: 1px;
        color: var(--text-color);
        padding: 5px 0;
        .item{
        padding: 5px;
        cursor: pointer;
        font-size: 12px;

            &:hover{
                background-color: darkgray;
            }
        }
    }
}