@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import '../Components/Navbar/Navbar.scss';
@import '../Components/Header/Header.scss';
@import '../Components/SubHeader/SubHeader.scss';
@import '../Components/ProductScreen/ProductScreen.scss';
@import '../Components/Product/Product.scss';
@import '../Components/ProductDetails/ProductDetails.scss';
@import '../Components/ProductDetails/Review/Review.scss';
@import '../Components/User/Login.scss';
@import '../Components/User/Register.scss';
@import '../Components/userProfile/UserProfile.scss';
@import '../Components/WishList/WishList.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
#root {
  $background-color: #fff;
  $text-color: #262833;
}
  
$dark_black: #050505;
$black: #171917;
$light_black: #1e1e1e;
$dar_grey_: #383838;
$grey: #6a6767;

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--text-color);
  color: var(--text-color);
  display: flex;
  position: relative;
  .Home
  {
    background-color: var(--background-color);
    width:86%;
    height:100%;
    .Header{
      width: 100%;
      height: 10%;
      background-color: var(--background-color);
    }
    .Main{
      width: 100%;
      height: 90%;
      background-color: var(--text-color);;
      padding: 8px;
      .Sub_header{
        width: 100%;
        height: 9%;
        margin: 0px 0;
        background-color: var(--background-color);
      }
      .Product_screen{
        width: 100%;
      height: 89%;
      margin-top: 5px;
        background-color: var(--background-color);
      }
    }
    
  }
  .Navbar{
    background-color: var(--background-color);
    width:14%;
  }

}
