.Sub_header{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .options{
        position: relative;
        display: flex;
        gap: 10px;
    }

    .filter{
        background-color: var(--light-color);
        color: var(--text-color);
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 5px;
        span{
            margin-right: 10px;
        }
        &:hover{
            cursor: pointer;
            background-color: grey;
        }
        
        
    }
    .rating{
        left: 24%;
    }
    .category{
        right: 12%;
        span{
            margin-left: 10px;
        }
    }
    .list{
        position: absolute;
        top:105%;
        display: flex;
        flex-direction: column;
        background-color: var(--light-color);
        color: var(--text-color);
        padding: 5px 0;
        border-radius: 5px;

        .item{
            display: flex;
            padding: 10px;
            font-size: 12px;
            &:hover{
                background-color: grey;
                cursor: pointer;
            }
            span{
                margin-right: 10px;
            }
        }
    }
    }
    .add_btn{
        cursor: pointer;
        button{
            cursor: pointer;
            font-size: 12px;
            background-color: plum;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            outline: none;
            color: var(--text-color);
            border: none;
            line-height: 20px;
            span{
                margin-left: 5px;
            }
        }
    }

