.Navbar{
    padding: 10px;
    position: relative;
    position: sticky;
    .logo{
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
      height: 60px;

        h1{
            margin-left: 10px;
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        a{
            display: flex;
            align-items: center;
            line-height: 14px;
            color: var(--text-color);
            padding: 10px;
            font-size: 20px;
            span{
                margin-left: 10px;
            }
            &:active{
                background-color: blueviolet;
            }
        }
    }
}

.logout-btn{
    bottom: 0;
    padding: 10px;
    left: 2%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
&:hover{
    font-weight: 500;
}

span{
    margin-left: 10px;
}
}



.btn{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    line-height: 20px;
    color: var(--text-color);
cursor: pointer;
text-align: left;
    span{
        margin-left: 10px;
    }
}