.Product {
  width: 330px;
  height: 280px;
  background-color: var(--text-color);
  border-radius: 5px;
  color: var(--background-color);
  &:hover{
      box-shadow: 5px 10px 8px black;
  }
  .product_image {
    height: 70%;
    width: 100%;
    border-radius: 5px;

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .product_info {
    width: 100%;
    height: 30%;
    padding: 10px;
    .line_2 {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      div {
        span {
          margin-right: 5px;
        }
      }
    }
    .line_1 {
      margin: 0;
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.flex{
  display: flex;
  font-size: 12px;
}